/* styles/globals.css */

/* header {
  background: #333;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
} */
.Header {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 4px;
}
.header-text {
  color: white;
  font-weight: 800;
}
.header-links {
  display: flex;
  gap: 6px;
  font-weight: 600;
}
